/* aligns header to center*/
h1 {
    text-align: center;
}

/* makes it so main content go downards and that everything is centered*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}